.search-box {
  -webkit-appearance: none;
  border: 3px solid #360f3a60;
  border-radius: 10px;
  width: 300px;
  outline: none;
  padding: 10px;
  line-height: 30px;
  margin-bottom: 40px;
  font-size: 18px;
  background: transparent;
  color: #FFF;

  &::placeholder {
    color: #ffffffbb;
  }
}